body {
	background-color: #FFFFFF;
}

main {
	display: flex;
	flex-direction: column;
}

.back_button_block {
	display: flex;
	align-items: center;
	margin: 30px 0 100px 0;
}

.back_button_block h1 {
	color: #370D43;
	font-size: 24px;
	font-weight: 400;
}

.back_button_block_arrow {
	margin: 0 20px 5px 30px;
}

.error_description {
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}

.error_description_404 {
	color: #808080;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
	margin-bottom: 20px;
}

.back_button_block_main_img {
	margin-bottom: 8px;
}

.error_offer {
	color: #000000;
	font-size: 15px;
	font-weight: 300;
	text-align: center;
}

.error_offer a {
	color: #837C41;
	text-decoration: underline;
}

.main_banner {
	display: none;
}

@media(min-width:768px) {
	.main_banner1 {
		display: none;
	}

	.main_banner {
		display: block;
	}
}

@media(min-width:1050px) {
	.main_banner1 {
		display: none;
	}

	.main_banner {
		display: block;
		width: 700px;
		align-self: center;
	}

	.back_button_block_main_img {
		margin-bottom: 8px;
		width: 700px;
		align-self: center;
	}

	.error_description {
		font-size: 25px;
	}

	.error_description_404 {
		font-size: 20px;
	}

	.error_offer {

		font-size: 25px;

	}
}