:root {
	--back-color: #370D43;
	--white-color: #FFFFFF;
	--opacity-icons: 1;
	--opacity-text: 1;
	--background-color-sitebar: #BFB5DC;
	--link-color: #691F82;
	--color-cart-navbar: #C8AEDA;
	--color-navbar-icon: #9764A8;
	--close-button-color: #000000;
}

.header {
	background-color: var(--back-color);
}

.header_container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 13.59px;
	position: relative;
	margin: 0 20px;
}

.header_logo {
	font-size: 2rem;
	color: var(--white-color);
	text-decoration: none;


}

.header_logo img {
	width: 59px;
	height: 36px;
}

.header_logo:hover {
	color: var(--white-color);
}

.header_links {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 190px;
	margin: 0 auto;

}

.header_links_wrapper {
	flex: 1 1 auto;
}

.header_links_wrapper ul {
	padding: 0;
	margin-bottom: 0;
}

.header_search img {
	width: 20px;
	height: 20px;
}

.header_user img {
	width: 22px;
	height: 20px;
}

.header_cart img {
	width: 28px;
	height: 23px;
}

.header_language {
	color: var(--white-color);
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
}

.burger_menu {
	height: 25px;
	opacity: 1;

}



.burger_menu:last-child {
	margin-bottom: 0;
}

.burger_item {
	opacity: 1;
	height: 2px;
	width: 32px;
	margin-bottom: 10px;
	background-color: var(--white-color);
}

@media(min-width:768px) {
	.header_container {
		margin: 0 17%;
	}
}

@media(min-width:2000px) {
	.header_container {
		padding: 35px;
	}

	.header_search img {
		width: 30px;
		height: 30px;
	}

	.header_user img {
		width: 30px;
		height: 30px;
	}

	.header_cart img {
		width: 30px;
		height: 30px;
	}

	.header_logo img {
		width: 89px;
		height: 55px;
	}

	.header_language {
		font-size: 20px;
	}

}

/******************   NavBar *********************/


.header_sitebar {
	background-color: var(--background-color-sitebar);
	position: fixed;
	top: 0;
	right: -100%;
	width: 95%;
	padding-right: 10%;
	overflow-y: auto;
	z-index: 5;
	opacity: 0;
	transition: all 1s ease;
}

@media(min-width:576px) {
	.header_sitebar {
		width: 60%;
	}
}

@media(min-width:992px) {
	.header_sitebar {
		width: 40%;
	}
}

@media(min-width:1200px) {
	.header_sitebar {
		width: 40%;
	}
}

@media(min-width:1400px) {
	.header_sitebar {
		width: 40%;
	}

	.header_container {
		margin: 0 20%;
	}
}

@media(min-width:1800px) {
	.header_sitebar {
		width: 30%;
	}
}




.header_sitebar.active {
	right: 0;
	opacity: 1;
}

.header_sitebar ul {
	padding: 1rem;
}

.sitebar {}

.sitebar_button {
	width: 20px;
	height: 20px;
	margin: 25px 0 25.45px 25px;
}

.site_button_item {
	background-color: var(--close-button-color);
	width: 100%;
	height: 1px;
}

.site_button_item.item1 {
	transform: rotate(45deg);
}

.site_button_item.item2 {
	transform: rotate(-45deg);
}

.sitebar_list {}

.sitebar_list_item {}

.sitebar_list_item.contact_cart {}

.hello_item {
	line-height: 0.5;
	margin-bottom: 34.51px;
}

.hello_item_title {
	color: #370D43;
	margin-bottom: 10px;
	font-size: 18px;

}

.hello_item_link_register {
	font-size: 12px;
	color: var(--link-color);

}

.history {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}

.history img {}

.history_icon {
	width: 22px;
	height: 20px;
	margin-right: 10px;
}

.history_link {
	font-size: 16px;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 300;
	opacity: var(--opacity-text);
	flex-grow: 1;
}

.history_arrov {
	font-size: 22px;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 300;


}

.history_arrov img {
	width: 10.28px;
	height: 16.62;
}

.search {
	margin-bottom: 34.53px;
	display: flex;
	align-items: center;
	position: relative;
}

.search img {}

.search_icon {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

.search_inside_icon {
	width: 6.6px;
	height: 10.45px;
	position: absolute;
	left: 5px;
	top: 9px;
}

.search_link {
	font-size: 16px;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 300;
	opacity: var(--opacity-text);
	flex-grow: 1;
}

.search_arrov {
	font-size: 22px;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 300;
}

.search_arrov img {
	width: 10.28px;
	height: 16.62;
}

.contact_cart {
	background-color: var(--color-cart-navbar);
	position: relative;
	margin-right: 20px;
	margin-bottom: 21.42px;

}

.contact_cart ul {
	padding-left: 0;
	padding-top: 16px;
	padding-bottom: 20px;
}

.contact_cart button {
	position: absolute;
	width: 34px;
	height: 34px;
	top: calc(50% - 17px);
	right: -10px;
	border-radius: 50%;
	background-color: var(--white-color);
	border: 0;

}

.contact_cart_block {}

.contact_cart_list {}

.contact_cart_item {
	margin-bottom: 10px;
}

.contact_cart_item img {
	width: 15, 34px;
	height: 15, 34px;
	margin-right: 15px;
	padding-left: 10px;
}

.contact_cart_item span {
	font-size: 15px;
	color: var(--link-color);
	font-weight: 300;
}

.pravo_info {
	margin-bottom: 38px;
}

.pravo_info_title {
	font-size: 16px;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 300;
	opacity: var(--opacity-text);
}

.alergic {
	margin-bottom: 86px;
}

.alergic_title {
	font-size: 16px;
	text-decoration: none;
	color: var(--white-color);
	font-weight: 300;
	opacity: var(--opacity-text);
}

.sitebar_logo {
	margin-bottom: 45px;
}

.header_logo {}

.indikator_menu {
	width: 100%;
	height: 7px;
}

/******************   NavBar End *********************/