:root {
	--back-color: #370D43;
	--white-color: #FFFFFF;
	--opacity-icons: 1;
	--opacity-text: 1;
	--background-color-sitebar: #BFB5DC;
	--link-color: #691F82;
	--color-cart-navbar: #C8AEDA;
	--color-navbar-icon: #9764A8;
	--close-button-color: #000000;
}

body {
	height: 100vh;
}

main {
	overflow-y: scroll;
}

.menu_part {
	background: linear-gradient(to right, #000000 70%, #691F82);
	border: solid 1px #691F82;
	width: 100%;
}

.menu_part a {
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}

.menu_part_image {
	height: 106px;
}



.menu_part_title_wraper {
	flex: 1 1 auto;
}

.menu_part_title {
	font-size: 22px;
	font-weight: bold;
	color: var(--white-color);
	max-width: 30%;

}

.menu_part_arrov {
	width: 10.28px;
	height: 16.62px;
	margin-right: 12px;

}

.menu_part_colorsection {
	height: 100%;
	width: 10px;
}

.menu_part_colorsection.red {
	background-color: #B70501;
}

.menu_part_colorsection.green {
	background-color: #00512A;
}

.menu_part_colorsection.yelou {
	background-color: #C2B55F;
}

.menu_part_colorsection.grey {
	background-color: #84899E;
}

.main_banner {
	width: 100%;
	border: solid 1px #691F82;
}

.main_banner1 {
	width: 100%;
	border: solid 1px #691F82;
}


.main_banner img {
	width: 100%;
}

.main_banner1 img {
	width: 100%;
}