.page_title_section_title {
	font-weight: 500;
}

body {
	background-color: #C9C3DB;
}

.page_title_section_title {
	font-weight: 500;
}

.office_title1 {
	font-size: 22px;
	color: #FFFFFF;
	font-weight: 300;
	margin-bottom: 30px;
}

.office_title1 img {
	margin-right: 5px;
}


.button_purple {
	height: 50px;
	width: 100%;
	margin-bottom: 20px;
	color: #9764A8;
	font-size: 16px;
	background-color: #370D43;
}


.page_flexcontainer_item_autorise {
	width: 90%;
}

.input-container {
	position: relative;
	width: 100%;
	margin-bottom: 15px;
}

.input-container input {
	width: 100%;
	height: 50px;
	padding: 10px;
	box-sizing: border-box;
}

.placeholder-text {
	position: absolute;
	top: 50%;
	left: 20px;
	transform: translateY(-50%);
	color: #691F82;
	font-size: 16px;
	font-weight: 300;
}

.settings_input::placeholder {
	color: #691F82;
	font-size: 16px;
	font-weight: 300;
	padding-left: 10px;
}

.icon {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	color: #999;
}

.custom-checkbox {}

.custom-checkbox {
	font-size: 12px;
	font-weight: 300;
	line-height: 1.2 !important;
	color: #FFFFFF;
	position: relative;
	padding-left: 30px;
	cursor: pointer;
	display: inline-block;
	line-height: 20px;
	margin-top: 40px;
	margin-bottom: 50px;
}

.custom-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #eee;
	border: 1px solid #ccc;
	border-radius: 3px;
}

.custom-checkbox input:checked+.checkmark {
	background-color: #FFFFFF;
	border: 1px solid #FFFFFF;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.custom-checkbox input:checked+.checkmark:after {
	display: block;
}

.custom-checkbox .checkmark:after {
	left: 7px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid #707070;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}