/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100vh;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}

/*Обнуление*/
/*--------------------*/
:root {
	--back-color: #370D43;
	--white-color: #FFFFFF;
	--opacity-icons: 1;
	--opacity-text: 1;
	--background-color-sitebar: #BFB5DC;
	--link-color: #691F82;
	--color-cart-navbar: #C8AEDA;
	--color-navbar-icon: #9764A8;
	--close-button-color: #000000;
}


html {
	scroll-behavior: smooth;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	box-sizing: border-box;
	overflow-x: hidden;
	overflow-y: scroll;
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
	margin: 0;
	padding: 0;
}


li {
	list-style: none;
}

.main_wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;

}

footer {
	background-color: #370D43;
	position: sticky;
	bottom: 0;
}